{% load static %}
<head>
    <style>
        body {
    
  background-image: url("{% static 'images/bgmain5.jpg' %}");
 /* display: flex;
  flex-direction: column;
  background-size: cover;
  height: 100%;
  flex-basis: 100%;*/
  
  
}
h1 {
    color:springgreen;
font-family: arial, sans-serif;
font-size: 200%;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1rem;
}
p {
  max-width: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 2;
  color: #222;
}

.button {
  background: #76B3FA;
  
  padding: 20px 60px;
  color: #fff;
  width: fit-content;
  
  text-decoration: none;
  font-size: 1.45em;
  
}
.butt {
    background:red;
  
  padding: 20px 60px;
  color: #fff;
  
  text-decoration: none;
  font-size: 1.45em;
  
}
.logout {
     position: relative;
     margin-bottom: 1rem;

    
}
.form {
    position: absolute;
    right: 0;
    top:.35rem;

}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}


</style>
</head>
<body>
    <div class="logout">
        
    <button class="butt" style="background-color:hotpink;">
        {{key}}
    </button>
    
    {% if key2 %}
    <div class="form">
    <form action="/logout/">
        {% csrf_token %}
    <button type="submit" class="butt" style="background-color:hotpink;">
        Logout
    </button>

    </form>
    {% endif %}
    </div>
    <br>
    </div>
    <div class="parent">
    
    
    <button class="button" id="em" >Engineering Mathematics</button>
    
    <div style="display: none;" id="emC">
      <br>
      <br>
  <a href="http://gate.iitd.ac.in/Syllabus/MA.pdf" class="butt"  style="background-color: blueviolet;" download="syllabus" >Syllabus</a>
        <br>
        <br>
        <br>
        <form action="/ecContent/" method="POST">
            {% csrf_token %}
            <button class="butt"  type="submit" name="btn" value="em" id="btn">Lectures</button>
        </form>
        <form action="/studyM/" method="POST">
            {% csrf_token %}
            <button class="butt"  type="submit" name="btn" value="mmstd" style="background-color: rgb(115, 214, 50);">Study Materials</button>
        </form>
    </div>
    <br>
  <button class="button" id="ece">Electronics and Communication</button>
  
  <div style="display: none;" id="eceC">
    <br>
    <br>
<a href="http://gate.iitd.ac.in/Syllabus/EC.pdf" class="butt"  style="background-color: blueviolet;"download="syllabus" >Syllabus</a>
<br>
<br>
<br>

<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="com" id="btn">Communication Engineering</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt" type="submit" name="btn" value="sig">Signals And System</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="net">Network Theory and Analysis</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="ana">Analog Electronics</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="emf">Electromagentic Field Theory</button>
</form>
<br>
<form action="/ecContent/" method="POST">
  {% csrf_token %}
  <button class="butt"  type="submit" name="btn" value="dig">Digital Electronics</button>
</form>
<br>
<form action="/ecContent/" method="POST">
  {% csrf_token %}
  <button class="butt"  type="submit" name="btn" value="cos">Control System</button>
</form>
<br>
<form action="/studyM/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="ecstd" style="background-color: rgb(115, 214, 50);">Study Materials</button>
</form>
<br>
  </div>
  <br>
  <button class="button" id="cse">Computer Science And Engineering</button>
  <div style="display: none;" id="cseC">
    <br>
    <br>
<a href="http://gate.iitd.ac.in/Syllabus/CS.pdf" class="butt"  style="background-color: blueviolet;"download="syllabus" >Syllabus</a>
<br>
<br>
<br>

<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="toc">Theory of Computation </button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt" type="submit" name="btn" value="digl">Digital Logic</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="ds">Programming & Data Structures</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="alg">Algorithms</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="cod">Compiler Design</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="os">Operating Systems</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="data">Databases</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="coa">CO & Architecture</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="con">Computer Networks</button>
</form>
<br>
<form action="/studyM/" method="POST">
    {% csrf_token %}
    <button class="butt" type="submit" name="btn" value="csstd" style="background-color: rgb(115, 214, 50);">Study Materials</button>
</form>
<br>
  </div>
  <br>
  <button class="button" id="me">Mechanical Engineering</button>
  <div style="display: none;" id="meC">
    <br>
    <br>
<a href="http://gate.iitd.ac.in/Syllabus/ME.pdf" class="butt"  style="background-color: blueviolet;"download="syllabus" >Syllabus</a>
<br>
<br>
<br>

<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="emc">Engineering Mechanics</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt" type="submit" name="btn" value="flm">Fluid Mecahnics</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="ind">Industrial Engineering</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="het">Heat Transfer</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="mcd">Machine Design</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="pde">Production Enginnering</button>
</form>
<br><form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="tmd">Thermodyanmics </button>
</form>
<br><form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="vbr">Vibrations</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="tom">Theory of Machines</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="mfe">Manufacturing Engineering</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="mtr">Materials</button>
</form>
<br>

<form action="/studyM/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="mestd" style="background-color: rgb(115, 214, 50);">Study Materials</button>
</form>
<br>
  </div>
  
  <br>
  <button class="button" id="ee">Electrical Engineering</button>
  <div style="display: none;" id="eeC">
    <br>
    <br>
<a href="http://gate.iitd.ac.in/Syllabus/EE.pdf" class="butt"  style="background-color: blueviolet;"download="syllabus" >Syllabus</a>
<br>
<br>
<br>

<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="elm">Electrical Machines</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt" type="submit" name="btn" value="sigE">Signals And System</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="digE">Digital Electronics</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="eim">Electrical Instrumentation And Measurement</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="emf">EMFT</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="pws">Power System</button>
</form>
<br>
<form action="/studyM/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="eestd" style="background-color: rgb(115, 214, 50);">Study Materials</button>
</form>
<br>
  </div>
  <br>
  <button class="button" id="ce">Civil Engineering</button>
  <div style="display: none;" id="ceC">
    <br>
    <br>
<a href="http://gate.iitd.ac.in/Syllabus/CE.pdf" class="butt"  style="background-color: blueviolet;"download="syllabus" >Syllabus</a>
<br>
<br>
<br>

<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="fldc">Fluid Mechanics</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt" type="submit" name="btn" value="gte">Geotechnical Engineering</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="enve">Enviornmental Engineering</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="cons">Concrete Structures</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="cmm">Construction Materials And Management</button>
</form>
<br>
<form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="emcc">Engineering Mechanics</button>
</form>
<br><form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="hdr">Hydrology</button>
</form>
<br><form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="sdm">Solid Mechanics</button>
</form>
<br><form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="sts">Steel Structures</button>
</form>
<br><form action="/ecContent/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="tre">Transportation Engineering </button>
</form>
<br>
<form action="/studyM/" method="POST">
    {% csrf_token %}
    <button class="butt"  type="submit" name="btn" value="cestd" style="background-color: rgb(115, 214, 50);">Study Materials</button>
</form>
<br>
  </div>
  <br>
  <button class="button" id="cp">Competitive Programming</button>
  
  <div id="cpC" style="display: none;">
    <br>
    <form action="/ecContent/" method="POST">
        {% csrf_token %}
        <button class="butt"  type="submit" name="btn" value="nmbt">Number Theory</button>
    </form>
    <br><form action="/ecContent/" method="POST">
        {% csrf_token %}
        <button class="butt"  type="submit" name="btn" value="gpht">Graph Theory</button>
    </form>
    <br><form action="/ecContent/" method="POST">
        {% csrf_token %}
        <button class="butt"  type="submit" name="btn" value="dym">Dyanmic Programming</button>
    </form>
   
  </div>
  <form action="/about/">
  <br>
  <button  type="submit" class="button" id="about" name="btn" value="about">About Me</button>
  <br>
  </form>
  
  
  </div>
  
</body>
<script>
 var button = document.getElementById('ece');

button.onclick = function() {
    var div = document.getElementById('eceC');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};
var button = document.getElementById('cp');

button.onclick = function() {
    var div = document.getElementById('cpC');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};
var button = document.getElementById('cse');

button.onclick = function() {
    var div = document.getElementById('cseC');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};
var button = document.getElementById('me');

button.onclick = function() {
    var div = document.getElementById('meC');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};
var button = document.getElementById('ee');

button.onclick = function() {
    var div = document.getElementById('eeC');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};
var button = document.getElementById('ce');

button.onclick = function() {
    var div = document.getElementById('ceC');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};

var button = document.getElementById('em');
button.onclick = function() {
    var div = document.getElementById('emC');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};
</script>