
<h3><span id="Made_Easy_Handwritten_Notes_Computer_Science_Information_Technology_CS_IT"><span style="color: #000000;"><a class="su-button su-button-style-flat btndisabledimp su-button-wide" style="color:#ffffff;background-color:#12a9ff;border-color:#0076cc;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px" target="_self"><span style="color:#ffffff;padding:0px 20px;font-size:16px;line-height:32px;border-color:#5ff6ff;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none"> Made Easy Handwritten Notes – Computer Science &amp; Information Technology (CS &amp; IT)</span><span style="color: #000000;"></span></a></span></span></h3>
<div class="su-table su-table-alternate">
<table width="899">
<tbody>
<tr>
<td width="13%"><span style="color: #b80000;"><strong> S. No.</strong></span></td>
<td width="87%"><span style="color: #b80000;"><strong>Subjects</strong></span></td>
</tr>
<tr>
<td width="12%"> 1.</td>
<td width="86%">
<h4><span id="Compiler_Design_Made_Easy_Handwritten_Notes_GATEIES_PDF"><span style="color: #0000ff;"><a style="color: #0000ff;" href="https://drive.google.com/file/d/0B2D2Vl5_6vK1SEtCX0U2dV82d3c/view?usp=sharing" target="_blank" rel="noopener noreferrer">Compiler Design – Made Easy Handwritten Notes | GATE/IES [PDF]</a></span></span></h4>
</td>
</tr>
<tr>
<td width="12%"> 2.</td>
<td width="86%">
<h4><span id="Computer_Network_Made_Easy_Handwritten_Notes_GATEIES_PDF"><span style="color: #0000ff;"><a style="color: #0000ff;" href="https://drive.google.com/file/d/0B2D2Vl5_6vK1Vm9nNFE0X3BtZWc/view?usp=sharing" target="_blank" rel="noopener noreferrer">Computer Network – Made Easy Handwritten Notes | GATE/IES [PDF]</a></span></span></h4>
</td>
</tr>
<tr>
<td width="12%"> 3.</td>
<td width="86%">
<h4><span id="Computer_Organization_Made_Easy_Handwritten_Notes_GATEIES_PDF"><span style="color: #0000ff;"><a style="color: #0000ff;" href="https://drive.google.com/file/d/0B2D2Vl5_6vK1UTk4OTJpX29FNVk/view?usp=sharing" target="_blank" rel="noopener noreferrer">Computer Organization – Made Easy Handwritten Notes | GATE/IES [PDF]</a></span></span></h4>
</td>
</tr>
<tr>
<td width="12%"> 4.</td>
<td width="86%">
<h4><span id="Data_Structure_Made_Easy_Handwritten_Notes_GATEIES_PDF"><span style="color: #0000ff;"><a style="color: #0000ff;" href="https://drive.google.com/file/d/0B2D2Vl5_6vK1aFBiaFR2MGcwa2c/view?usp=sharing" target="_blank" rel="noopener noreferrer">Data Structure – Made Easy Handwritten Notes | GATE/IES [PDF]</a></span></span></h4>
</td>
</tr>
<tr>
<td width="12%"> 5.</td>
<td width="86%">
<h4><span id="DBMS_Made_Easy_Handwritten_Notes_GATEIES_PDF"><span style="color: #0000ff;"><a style="color: #0000ff;" href="https://drive.google.com/file/d/0B2D2Vl5_6vK1RExCNzdja1NBOXc/view?usp=sharing" target="_blank" rel="noopener noreferrer">DBMS – Made Easy Handwritten Notes | GATE/IES [PDF]</a></span></span></h4>
</td>
</tr>
<tr>
<td width="12%">6.</td>
<td width="86%">
<h4><span id="Design_Analysis_and_Algorithm_Made_Easy_Handwritten_Notes_GATEIES_PDF"><span style="color: #0000ff;"><a style="color: #0000ff;" href="https://drive.google.com/file/d/0B2D2Vl5_6vK1OEV6NlhtbFFRYW8/view?usp=sharing" target="_blank" rel="noopener noreferrer">Design Analysis and Algorithm       – Made Easy Handwritten Notes | GATE/IES [PDF]</a></span></span></h4>
</td>
</tr>
<tr>
<td width="12%">7.</td>
<td width="86%">
<h4><span id="Digital_Logic_Made_Easy_Handwritten_Notes_GATEIES_PDF"><span style="color: #0000ff;"><a style="color: #0000ff;" href="https://drive.google.com/file/d/0B2D2Vl5_6vK1WHBsc1JlRTVTM1E/view?usp=sharing" target="_blank" rel="noopener noreferrer">Digital Logic – Made Easy Handwritten Notes | GATE/IES [PDF]</a></span></span></h4>
</td>
</tr>
<tr>
<td width="12%">8.</td>
<td width="86%">
<h4><span id="Operating_System_Made_Easy_Handwritten_Notes_GATEIES_PDF"><span style="color: #0000ff;"><a style="color: #0000ff;" href="https://drive.google.com/file/d/0B2D2Vl5_6vK1TmZWNHdWeWQwcEk/view?usp=sharing" target="_blank" rel="noopener noreferrer">Operating System – Made Easy Handwritten Notes | GATE/IES [PDF]</a></span></span></h4>
</td>
</tr>
<tr>
<td width="12%">9.</td>
<td width="86%">
<h4><span id="Theory_of_Computation_Made_Easy_Handwritten_Notes_GATEIES_PDF"><span style="color: #0000ff;"><a style="color: #0000ff;" href="https://drive.google.com/file/d/0B2D2Vl5_6vK1SnAyWk1QeHlGZnM/view?usp=sharing" target="_blank" rel="noopener noreferrer">Theory of Computation – Made Easy Handwritten Notes | GATE/IES [PDF]</a></span></span></h4>
</td>
</tr>
</tbody>
</table>
</div>
<div class="entry-content">
    <header class="entry-header">
        <h1 class="entry-title" style="display:inline">Previous years GATE CSE and IT Papers Download Link</h1>
    </header>
        <p>
</br><br />

<br />
</br><br />
<center></p>
<table style="width:80%">
<thead>
<tr>
<th style="text-align:left">Year</th>
<th style="text-align:left">Original Paper</th>
<th style="text-align:left">Official Keys</th>
</tr>
<tr>
<tr>
<td rowspan="2">2020</td>
<td><a href="https://drive.google.com/open?id=1e5moLO0FOU1XYJsmrOgPfM20NyrnITA-" target="_blank">2020 Paper</a></td>
<td><a href="https://drive.google.com/open?id=194B216FU2SplG-sPH5yYJiimviQEyLzX" target="_blank">2020 Keys</a></td>
</tr>
<tr>
</tr>
<tr>
<td rowspan="2">2019</td>
<td> <a href="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20190220120422/2019_CS_Paper.pdf" target="_blank">2019 Paper</a> </td>
<td> <a href="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20190313151559/2019-Keys.pdf" target="_blank">2019 Keys</a> </td>
</tr>
</tr>
<tr>
<tr>
<td rowspan="2">2018</td>
<td><a href="https://drive.google.com/open?id=1CcOpvMbmoneCockBJxqsuyrcFzVjlyhZ" target="_blank">2018 Paper</a></td>
<td><a href="https://drive.google.com/open?id=1-Hhl9QJlTYyjU6lzO8GhdXxURZnhH_3S" target="_blank">2018 Keys</a></td>
</tr>
<tr>
</tr>
<tr>
<td rowspan="2">2017</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iZFd0TU9lVDhPbDA" target="_blank">2017 Set 1 Paper</a></td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6idWNtSXViMkktZUk" target="_blank">2017 Set 1 Keys</a></td>
</tr>
<tr>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iT2xGMVlKOWYxS3c" target="_blank">2017 Set 2 Paper</a></td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iRWtITmVGSmtDVXM" target="_blank">2017 Set 2 Keys</a></td>
</tr>
<tr>
<td rowspan="2">2016</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iRTdoUkRBc0FadE0" target="_blank">2016 Set 1 Paper</a></td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6ibllBempRcGxaUDg" target="_blank">2016 Set 1 Keys</a></td>
</tr>
<tr>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iZWVHYTB5eUpsMGc" target="_blank">2016 Set 2 Paper</a></td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6icTdzZmgxb3lieWM" target="_blank">2016 Set 2 Keys</a></td>
</tr>
<tr>
<td rowspan="3">2015</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iZHZWanRYR2pPazA" target="_blank">2015 Set 1 Paper</a></td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6ia0d4NWIzZXJETHc" target="_blank">2015 Set 1 Keys</a></td>
</tr>
<tr>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iTTdhOTFzVzFHQzQ" target="_blank">2015 Set 2 Paper</a></td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iRm9XZng2ZjVxUDg" target="_blank">2015 Set 2 Keys</a></td>
</tr>
<tr>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iaTZhaEE4OEZOTGs" target="_blank">2015 Set 3 Paper</a></td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iVDZzU2tDazJxSDQ" target="_blank">2015 Set 3 Keys</a></td>
</tr>
<tr>
<td rowspan="3">2014</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6idm50dHo3TnByTXc" target="_blank">2014 Set 1 Paper</a></td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6idFRGMnBNbFFiTk0" target="_blank">2014 Set 1 Keys</a></td>
</tr>
<tr>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6ieXF2ckxoM1hBWm8" target="_blank">2014 Set 2 Paper</a></td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iakVhT1ZNU0ozMjg" target="_blank">2014 Set 2 Keys</a></td>
</tr>
<tr>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iRnliMDlMT2o2T2M" target="_blank">2014 Set 3 Paper</a></a></td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iNHJOMGJQOHFFMHc" target="_blank">2014 Set 3 Keys</a></td>
</tr>
<tr>
<td>2013</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iM2x5blMwS2lBZDA" target="_blank">2013 Paper</a></td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iLXpKLTZBWWU4dEk" target="_blank">2013 Keys</a></td>
</tr>
<tr>
<td>2012</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iLTFlM2FTT0ZLclk" target="_blank">2012 Paper</a></td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6ieVRSZ29TRmozd0U" target="_blank">2012 Keys</a></td>
</tr>
<tr>
<td>2011</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6icXVwZFhaS0hLRE0" target="_blank">2011 Paper</a></td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iRExmTEVmRlgzNWc" target="_blank">2011 Keys</a></td>
</tr>
<tr>
<td>2010</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6ieWhEdmd6SUx2aXM" target="_blank">2010 Paper</a></td>
<td></td>
</tr>
<tr>
<td>2009</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iaWJ1dkhWNW5GU1E" target="_blank">2009 Paper</a></td>
<td></td>
</tr>
<tr>
<td rowspan="2">2008</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iQzlId2JoZFU0SUE" target="_blank">2008 CS Paper</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6idnFFSHZJNlRTTXM" target="_blank">2008 IT Paper</a></td>
<td></td>
</tr>
<tr>
<td rowspan="2">2007</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6ieWVRX09mSXBiTXc" target="_blank">2007 CS Paper</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iZjFCeFdSS0otbG8" target="_blank">2007 IT Paper</a></td>
<td></td>
</tr>
<tr>
<td rowspan="2">2006</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iNFRmcGpyVlRSV00" target="_blank">2006 CS Paper</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iTnhPYkYxTFdZdEE" target="_blank">2006 IT Paper</a></td>
<td></td>
</tr>
<tr>
<td rowspan="2">2005</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iYmNTeHVWUnZYQVE" target="_blank">2005 CS Paper</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iMDBnNkFSd3ItNTA" target="_blank">2005 IT Paper</a></td>
<td></td>
</tr>
<tr>
<td rowspan="2">2004</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iaVFReHFuNWVpYXc" target="_blank">2004 CS Paper</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iWThFRTdydHRwc1U" target="_blank">2004 IT Paper</a></td>
<td></td>
</tr>
<tr>
<td>2003</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iTV9yRjFWRmFyYW8" target="_blank">2003 Paper</a></td>
<td></td>
</tr>
<tr>
<td>2002</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iOFJjUVBVNXZLVzA" target="_blank">2002 Paper</a></td>
<td></td>
</tr>
<tr>
<td>2001</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iQmZhdXpuMWlWTmc" target="_blank">2001 Paper</a></td>
<td></td>
</tr>
<tr>
<td>2000</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6icDlPRTFiUlN2M2c" target="_blank">2000 Paper</a></td>
<td></td>
</tr>
<tr>
<td>1999</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iem5nYURWZDF2R2s" target="_blank">1999 Paper</a></td>
<td></td>
</tr>
<tr>
<td>1998</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iRmxJc1pwRkJMUGs" target="_blank">1998 Paper</a></td>
<td></td>
</tr>
<tr>
<td>1997</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iWjlLbGFkc3dyTEk" target="_blank">1997 Paper</a></td>
<td></td>
</tr>
<tr>
<td>1996</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iTGp6SkhBYmh2ejQ" target="_blank">1996 Paper</a></td>
<td></td>
</tr>
<tr>
<td>1995</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iQUtQN3NoTERBcXc" target="_blank">1995 Paper</a></td>
<td></td>
</tr>
<tr>
<td>1994</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iNHhYNW5QYXZFUVE" target="_blank">1994 Paper</a></td>
<td></td>
</tr>
<tr>
<td>1993</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iZ2ktMlI4VGZsclE" target="_blank">1993 Paper</a></td>
<td></td>
</tr>
<tr>
<td>1992</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iMDlRa0F2WTUxd0E" target="_blank">1992 Paper</a></td>
<td></td>
</tr>
<tr>
<td>1991</td>
<td><a href="https://drive.google.com/open?id=0By-VZ5fZo_6iWE1FR3FJNmxuTzA" target="_blank">1991 Paper</a></td>
<td></td>
</tr>
</table>
<p></center></p>
<br/><br/>

</div>			

    </div><!-- .entry-content -->