<span style="color:#ffffff;padding:0px 20px;font-size:16px;line-height:32px;border-color:#5ff6ff;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none"> ACE Academy Handwritten Notes – Engineering Mathematics</span><span style="color: #000000;"></span></a></span></span></h3>
<div class="su-table su-table-alternate">
<table>
<tbody>
<tr>
<td width="13%"><span style="color: #ba0000;"><strong> S. No.</strong></span></td>
<td width="87%"><span style="color: #ba0000;"><strong>Subjects</strong></span></td>
</tr>
<tr>
<td width="12%"> 1.</td>
<td width="86%">
<h4><span id="Calculus_ACE_Academy_Handwritten_Notes_GATEIES_PDF"><a href="https://drive.google.com/file/d/0B2D2Vl5_6vK1T0RUZS1Kd0Jya3c/view?usp=sharing" target="_blank" rel="noopener noreferrer"><span style="color: #0000ff;">Calculus – ACE Academy Handwritten Notes | GATE/IES [PDF]</span></a></span></h4>
</td>
</tr>
<tr>
<td width="12%"> 2.</td>
<td width="86%">
<h4><span id="Complex_Variables_ACE_Academy_Handwritten_Notes_GATEIES_PDF"><a href="https://drive.google.com/file/d/0B2D2Vl5_6vK1VUtOVDdsWWtyTFE/view?usp=sharin" target="_blank" rel="noopener noreferrer"><span style="color: #0000ff;">Complex Variables – ACE Academy Handwritten Notes | GATE/IES [PDF]</span></a></span></h4>
</td>
</tr>
<tr>
<td width="12%"> 3.</td>
<td width="86%">
<h4><span id="Graph_Theory_ACE_Academy_Handwritten_Notes_GATEIES_PDF"><a href="https://drive.google.com/file/d/0B2D2Vl5_6vK1MUc0ampRLXlWWm8/view?usp=sharing" target="_blank" rel="noopener noreferrer"><span style="color: #0000ff;">Graph Theory – ACE Academy Handwritten Notes | GATE/IES [PDF]</span></a></span></h4>
</td>
</tr>
<tr>
<td width="12%"> 4.</td>
<td width="86%">
<h4><span id="Numerical_Methods_ACE_Academy_Handwritten_Notes_GATEIES_PDF"><a href="https://drive.google.com/file/d/0B2D2Vl5_6vK1dERFeVU2VFpaUUE/view?usp=sharing" target="_blank" rel="noopener noreferrer"><span style="color: #0000ff;">Numerical Methods – ACE Academy Handwritten Notes | GATE/IES [PDF]</span></a></span></h4>
</td>
</tr>
<tr>
<td width="12%"> 5.</td>
<td width="86%">
<h4><span id="Differential_Equations_ACE_Academy_Handwritten_Notes_GATEIES_PDF"><a href="https://drive.google.com/file/d/0B2D2Vl5_6vK1S2duSUI5OUN3Nnc/view?usp=sharing" target="_blank" rel="noopener noreferrer"><span style="color: #0000ff;">Differential Equations – ACE Academy Handwritten Notes | GATE/IES [PDF]</span></a></span></h4>
</td>
</tr>
<tr>
<td width="12%"></td>
<td width="86%">
<h4><span id="Differential_Equations_New_ACE_Academy_Handwritten_Notes_GATEIES_PDF"><a href="https://drive.google.com/file/d/0B2D2Vl5_6vK1cllLYjREQWhZXzA/view?usp=sharing" target="_blank" rel="noopener noreferrer"><span style="color: #0000ff;">Differential Equations New – ACE Academy Handwritten Notes | GATE/IES [PDF]</span></a></span></h4>
</td>
</tr>
<tr>
<td width="12%">6.</td>
<td width="86%">
<h4><span id="Linear_Algebra_ACE_Academy_Handwritten_Notes_GATEIES_PDF"><a href="https://drive.google.com/file/d/0B2D2Vl5_6vK1b29YbEIyWV9qdFE/view?usp=sharing" target="_blank" rel="noopener noreferrer"><span style="color: #0000ff;">Linear Algebra – ACE Academy Handwritten Notes | GATE/IES [PDF]</span></a></span></h4>
</td>
</tr>
<tr>
<td width="12%"></td>
<td width="86%">
<h4><span id="Linear_Algebra_New_ACE_Academy_Handwritten_Notes_GATEIES_PDF"><a href="https://drive.google.com/file/d/0B2D2Vl5_6vK1dV9YcUdma19xX00/view?usp=sharing" target="_blank" rel="noopener noreferrer"><span style="color: #0000ff;">Linear Algebra New – ACE Academy Handwritten Notes | GATE/IES [PDF]</span></a></span></h4>
</td>
</tr>
<tr>
<td width="12%">7.</td>
<td width="86%">
<h4><span id="Probability_and_Statistics_ACE_Academy_Handwritten_Notes_GATEIES_PDF"><a href="https://drive.google.com/file/d/0B2D2Vl5_6vK1WlpkMjhFb2pHWEk/view?usp=sharing" target="_blank" rel="noopener noreferrer"><span style="color: #0000ff;">Probability and Statistics – ACE Academy Handwritten Notes | GATE/IES [PDF]</span></a></span></h4>
</td>
</tr>
</tbody>
</table>
</div>
<div id="content" class="site-content main-heading bg-gray py-5">
    <main id="primary" class="content-area main-inner">
      <div class="container">
        <div class="title">
          <h3 class="entry-title"> Gate Mathematics Previous Year Papers </h3>
          <span class="line"></span>
        </div>
  
        <div class="row">
          <div class="col-md-8 col-lg-9 bg-white py-2">
            
  <article id="post-226" class="post-226 page type-page status-publish hentry">
      <header class="entry-header">
  
          <!-- <div class="title">
              <h5>  </h5>
              <h3 class="entry-title"> Gate Mathematics Previous Year Papers </h3>
              <span class="line"></span>
          </div> -->
  
      </header><!-- .entry-header -->
  
      <div class="entry-content">
          <table class="table table-striped">
  <tbody>
  <tr>
  <td><strong>GATE_Mathematics Question Paper 2019</strong></td>
  <td align="right"><a id="ContentPlaceHolder1_repForms_lnkDownload_0"></a><a href="https://infostudy.co.in/wp-content/uploads/2019/05/MA_2019.pdf">Download</a></td>
  </tr>
  <tr>
  <td><strong>GATE_Mathematics Question Paper 2018</strong></td>
  <td align="right"><a id="ContentPlaceHolder1_repForms_lnkDownload_0"></a><a href="https://infostudy.co.in/wp-content/uploads/2019/01/GATE-PAPER-2018.pdf">Download</a></td>
  </tr>
  <tr>
  <td><strong>Answer Key_GATE_Mathematics 2018</strong></td>
  <td align="right"><a href="https://infostudy.co.in/wp-content/uploads/2019/01/MA_Key-1.pdf"> Download</a></td>
  </tr>
  <tr>
  <td><strong>GATE_Mathematics Question Paper 2017</strong></td>
  <td align="right"><a id="ContentPlaceHolder1_repForms_lnkDownload_0"></a><a href="https://infostudy.co.in/wp-content/uploads/2019/01/MA-2017-original-paper.pdf">Download</a></td>
  </tr>
  <tr>
  <td><strong>Answer Key_GATE_Mathematics 2017</strong></td>
  <td align="right"><a href="https://infostudy.co.in/wp-content/uploads/2018/12/FormDocument_Answer-Key_GATE_Mathematics-2017.pdf"> Download</a></td>
  </tr>
  <tr>
  <td><strong>GATE_Mathematics Question Paper 2016</strong></td>
  <td align="right"><a href="https://infostudy.co.in/wp-content/uploads/2019/01/GATE-PAPER-2016.pdf">Download</a></td>
  </tr>
  <tr>
  <td><strong>Answer Key_GATE_Mathematics 2016</strong></td>
  <td align="right"><a href="https://infostudy.co.in/wp-content/uploads/2018/12/FormDocument_Answer-Key_GATE_Mathematics-2016.pdf">Download</a></td>
  </tr>
  <tr>
  <td><strong>GATE_Mathematics Question Paper 2015</strong></td>
  <td align="right"><a id="ContentPlaceHolder1_repForms_lnkDownload_4"></a><a href="https://infostudy.co.in/wp-content/uploads/2018/12/FormDocument_GATE_Mathematics-Question-Paper-2015.pdf">Download</a></td>
  </tr>
  <tr>
  <td><strong>Answer Key_GATE_Mathematics 2015</strong></td>
  <td align="right"><a id="ContentPlaceHolder1_repForms_lnkDownload_5"></a><a href="https://infostudy.co.in/wp-content/uploads/2019/01/FormDocument_MA_S04.pdf">Download</a></td>
  </tr>
  <tr>
  <td><strong>GATE_Mathematics Question Paper 2014</strong></td>
  <td align="right"><a href="https://infostudy.co.in/wp-content/uploads/2018/12/FormDocument_GATE_Mathematics-Question-Paper-2014.pdf">Download</a></td>
  </tr>
  <tr>
  <td><strong>Answer Key_GATE_Mathematics 2014</strong></td>
  <td align="right"><a href="https://infostudy.co.in/wp-content/uploads/2018/12/FormDocument_Answer-Key_GATE_Mathematics-2014.pdf">Download</a></td>
  </tr>
  <tr>
  <td><strong>GATE_Mathematics Question Paper 2013</strong></td>
  <td align="right"><a href="https://infostudy.co.in/wp-content/uploads/2018/12/FormDocument_GATE_Mathematics-Question-Paper-2013.pdf">Download</a></td>
  </tr>
  <tr>
  <td><strong>Answer Key_GATE_Mathematics 2013</strong></td>
  <td align="right"><a href="https://infostudy.co.in/wp-content/uploads/2018/12/FormDocument_Answer-Key_GATE_Mathematics-2013.pdf">Download</a></td>
  </tr>
  <tr>
  <td><strong>GATE_Mathematics Question Paper 2012</strong></td>
  <td align="right"><a href="https://infostudy.co.in/wp-content/uploads/2018/12/FormDocument_GATE_Mathematics-Question-Paper-2012.pdf">Download</a></td>
  </tr>
  <tr>
  <td><strong>GATE_Mathematics Question Paper 2011</strong></td>
  <td align="right"><a href="https://infostudy.co.in/wp-content/uploads/2018/12/FormDocument_GATE_Mathematics-Question-Paper-2011.pdf">Download</a></td>
  </tr>
  <tr>
  <td><strong>GATE_Mathematics Question Paper 2010</strong></td>
  <td align="right"><a href="https://infostudy.co.in/wp-content/uploads/2018/12/FormDocument_GATE_Mathematics-Question-Paper-2010.pdf">Download</a></td>
  </tr>
  <tr>
  <td><strong>GATE_Mathematics Question Paper 2009</strong></td>
  <td align="right"><a href="https://infostudy.co.in/wp-content/uploads/2018/12/FormDocument_GATE_Mathematics-Question-Paper-2009.pdf">Download</a></td>
  </tr>
  <tr>
  <td><strong>GATE_Mathematics Question Paper 2008</strong></td>
  <td align="right"><a href="https://infostudy.co.in/wp-content/uploads/2019/01/GATE-PAPER-2008.pdf">Download</a></td>
  </tr>
  <tr>
  <td><strong>GATE_Mathematics Question Paper 2007</strong></td>
  <td align="right"><a href="https://infostudy.co.in/wp-content/uploads/2019/01/GATE-PAPER-2007.pdf">Download</a></td>
  </tr>
  </tbody>
  </table>
  <p>&nbsp;</p>
      </div><!-- .entry-content -->
  
      </article><!-- #post-226 -->
          </div>