{% load static %}
<style>
body {
    background-color: whitesmoke;
    background-repeat:inherit;
    width: 100%;
    float: left;
  

    
}
div {
    background-color:whitesmoke;
    background-repeat:inherit;
    
    
    }
h1 {
    margin-top: auto; 
    width: 300px;
    font-size: 20px;

}
#divs {
    height: 38%;
    width: 20%;
    float: left;
    padding-left: 20px;
   
}
iframe {
    margin-top: 10px;
    background-color: black;
   
}

</style>
<body>
    


{% if key  ==  'com' %}
<div id=divs>

    <iframe width="280" height="180" src="https://www.youtube.com/embed/9BG61FZl4Og" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 00 Introduction to Communication System | GATE 2019
    
                        
    </h1>
    </div>
    
    <div id=divs>
    <iframe width="280" height="180" src="https://www.youtube.com/embed/HVHgusEhgkg" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    
    Lec 01 I Basics of Communication systems I GATE
                        
    </h1>
    </div>
    
    <div id=divs>
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/vDxKWFEdStI" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    
    Lec 02 I Need of Modulation I GATE I Communication System
                        
    </h1>
    </div>
    <div id=divs>
    <iframe width="280" height="180" src="https://www.youtube.com/embed/DNxF0rNmN4A" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    
    Lec 03 I Modulation Processes I Communication System I GATE
                        
    </h1>
    </div>
    <div id=divs>
    
     <iframe width="280" height="180" src="https://www.youtube.com/embed/_95oGRk6mKE" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    
    Lec 04 I Modulation Process I Part 2 I Communication System I GATE
                        
    </h1>
    </div>
    <div id=divs>
    <iframe width="280" height="180" src="https://www.youtube.com/embed/DNxF0rNmN4A" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    
    COMMUNICATION SYSTEM (FULL COURSE-GATE 2019)
                        
    </h1>
    </div>
    <div id=divs>
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/jc2FNjKDCO4" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    
    Lec 05 I Brief of Fourier Transform I Communication System I GATE
                        
    </h1>
    </div>
    <div id=divs>
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/Zu9nQxx7muE" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    
    Lec 06 I Frequency shifting property I Communication system I GATE
                        
    </h1>
    </div>
    <div id=divs>
    <iframe width="280" height="180" src="https://www.youtube.com/embed/GR9DOVtI_jI" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    
    Lecture 07 | Concept of Modulation & Demodulation I communication System I GATE
                        
    </h1>
    </div>
    <div id=divs>
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/wMyAgfd-mW4" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    
    Lec 08 | Amplitude Modulation I Part 01 I Communication System I GATE
                        
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/WkIvSx_C9A0" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 09 Amplitude Modulation Part 2 for GATE
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/MO-culRjxy0" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    
    Lec 10 Single Tone Modulation for GATE
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/KEpLLxprqbc" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 11 Single Tone Modulation Contd.
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/Zs3Oo2dTyRc" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    
    Lec 12 GATE Questions on AM
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/tBpwax0rPkI" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 13 GATE Questions on Amplitude Modulation
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/sm3CQm7n5nc" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 14 Multi Tone Modulation
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/7gwIT5LgKGA" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 15 GATE Question on Multi Tone AM
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/V1vo75H3RbQ" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 16 Generation of AM Signal
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/WW8WZDfxHLQ" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 17 Demodulation
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/-PA-hk9OidY" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    
    Lec 18 Envelope Detector
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/zV2oex_0PQ0" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 19 Synchronous Detector
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/_S1tVyLaAqU" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 20 DSB SC Modulation
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/-ylS-PkBx1M" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 21 Generation of DSBSC Modulation
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/4d3XM12tYbA" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    
    Lec 22 SSB SC Modulation
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/B5ckoBBWciE" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 23 Demodulation of SSB
    
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/z5RSCJ1Ba7A" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 24 Vestigial Side band Modulation
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/CFdSXhtPPWQ" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 25 Angle Modulation
    
    
    </h1>
    </div>
    <div id="divs">
    
     <iframe width="280" height="180" src="https://www.youtube.com/embed/b_424i0YHDE" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 26 Frequency Modulation (NBFM)
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/Z4f40PD-oKo" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 27 Frequency Modulation (WBFM)
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/yl-v8IRla24" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 28 Question Practice on WBFM/NBFM
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/n5Ug9rIESp8" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 29 Generation of WBFM
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/e7r9xKIzgE8" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 30 Demodulation of FM
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/s0Y7yZmg5LI" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 31 Quick Revision of AM, FM and PM
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/2VpwwfDl_RI" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 32 GATE QUESTION Practice AM, FM and PM
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/ky9ZRl0M1hU" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 33 GATE question practice on AM,FM and PM
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/63pf3q0ApN8" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 34 AM Receivers (TRF Receiver)
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/44435xnOcu8" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 35 Superhytrodyne Receiver
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/hSNEgBvT5RE" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 36 Gate Question on AM Receivers
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/l1hm986FjxE" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 37 Introduction of Noise
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/Ze9ku_iXOXU" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 38 White Noise in Communication system
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/CLy7kMT2TI8" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 39 SNR and FOM
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/7JH4pRN5ynE" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     
    
    <h1>
    Lec 40 FOM for PM and FM
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/KKGDI2CixUo" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 41 Introduction of Digital Communication
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/ZAs2AFot4-w" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 42 Quantization and Sampler in PCM
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/EbFZw-rm8RM" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 43 Gate question on nyquist rate and quantization power to noise ratio
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/ELMHoZxE4ZA" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 44 Gate Questions on Quantization SNR
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/PSEPY3DrB2M" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 45 GATE Questions on Sampling
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/b2fhcE65THE" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 46 Companding, Encoding and TDM
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/XQvyl8tAKvI" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 47 Time Division Multiplexing, PAM PWM and PPM
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/U1MMwABET2U" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 48 PAM PWM and PPM
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/kxv7GqjEP30" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 49 Delta Modulator
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/WRhN3QLegtw" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 50 GATE Questions on DM PCM
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/9QrD5kVVmUM" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 51 ASK PSK and FSK
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/nBaQdlBzm80" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 52 Comparison of ASK PSK and FSK
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/M-HuZ1fNCzU" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 53 M ary Signalling
    
    
    </h1>
    </div>
    <div id="divs">
    
    <iframe width="280" height="180" src="https://www.youtube.com/embed/wXHH6BA6eeM" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h1>
    Lec 54 GATE Question Discussion
    
    
    </h1>
    </div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/_OK6S2mJkeA" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h1>
    Lec 55 Information Theory/Communication Concluded for 2019
    
    
    </h1>
    </div>
    <div id="divs">
     <iframe width="280" height="180" src="https://www.youtube.com/embed/onz-uQW5_F0" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1>
    Lec 01 One Dimensional Random Variable I Part 01 I Digital Communication 
    </h1></div>
    <div id="divs">
     <iframe width="280" height="180" src="https://www.youtube.com/embed/NwWKjPyrcxM" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1>
    Lec 02 One Dimensional Random Variable I Part 02 I Digital Communication 
    </h1></div>
    <div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/Y1fAmpISsc0" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1>
    Lec 03 One Dimensional Random Variable I Part 03 I Digital Communication 
    </h1></div><div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/K4Vo8iCbmMo" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1>
    Lec 04 One Dimensional Random Variable I Part 04 I Digital Communication 
    
    </h1></div><div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/6MfcJA6ImPo" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1>
    Lec 05 One Dimensional Random Variable I Part 05 I Digital Communication 
    
    </h1></div><div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/n7aer1U-bvM" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1>
    Lec 06 One Dimensional Random Variable I Part 06 I Digital Communication 
    
    </h1></div><div id="divs">
    <iframe width="280" height="180" src="https://www.youtube.com/embed/KzIvmhiCNQY" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1>
    Lec 07 Two Dimensional Random Variable I Part 01 I Digital Communication 
    
    </h1></div>
    
    
    
    

    
    
    
    
    
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
{% elif key  ==  'sig' %}
{% for i in range %}

<iframe width="280" height="180" src="https://www.youtube.com/embed/videoseries?list=PLgzsL8klq6DJGMumdc_n80bw0nDNgsSas&index={{i.1}}" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<nobr></nobr>
{% endfor %}
{% elif key  ==  'net' %}
{% for i in range %}

<iframe width="280" height="180" src="https://www.youtube.com/embed/videoseries?list=PLBlnK6fEyqRgLR-hMp7wem-bdVN1iEhsh&index={{i.1}}" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endfor %}
{% elif key  ==  'ana' %}
{% for i in range %}
<iframe width="280" height="180" src="https://www.youtube.com/embed/videoseries?list=PL00WWA9f-4c__I3Km5TUXrpUAsspVpbys&index={{i.1}}" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endfor %}

{% endif %}
</body>